.navbar-light .navbar-brand{
    color: #eb7f7f !important;
}
.navbar-light .navbar-nav .nav-link{
    color: #eb7f7f !important;
}
.bg-light{
    background-color:rgba(146, 146, 146, 0.3) !important;
}
.jumbotron{
    text-align: center;
    padding-top: 100px;
    background-image: url(../img/office-table-with-cup-coffee-keyboard-notepad.jpg);
    background-size: cover;
    height: 420px;
    color: white;
}
.my-4{
    width: 50%;
    margin:auto;
}
.icon{
    margin-top:10px;
    font-size:3em;

}
.btn-primary{
    background-color: #eb7f7f!important;
    border:none!important;
}
.btn-primary:hover{
    background-color: #f02727!important;
}
